html {
    font-size: 10px;
    font-weight: 300;
    font-family: 'Baloo Tammudu 2', cursive;
}

body {
    width: 90%;
    margin: 0 auto;
    background: linear-gradient(#343e63, #2a3352);
}

main {
    text-align: center;
    background-color: #f8f1e9;
    border: solid tomato;
    border-width: 0 8px 8px 8px;
    min-height: 80vh;
    border-radius: 0 0 3rem 3rem;
    padding: 1rem;
    color: #1f2933;
}

h2 {
    font-size: 3.5rem;
    margin: 4rem 0 8rem;
}

p {
    font-size: 1.8rem;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    
}

.button-wrapper button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    height: 110px;
    color: white;
    font-size: 5rem;
    font-weight: 500;
    padding: 2rem 0 0 2rem;
    border: none;
    cursor: pointer;
    background: #83e1d0;
    border-radius: 1rem 1rem 0 0;
    outline: none;
}

button > span {
    font-size: 1.7rem;
    font-weight: 400;
    margin-left: 2rem;
    margin-bottom: 1rem;
}
button:hover {
    opacity: .8;
}
button:last-child {
    background: tomato;
    border-radius: 0 0 1rem 1rem;
}

h3 {
    font-size: 3.5rem;
}

input {
    border: 1px solid lightgray;
    background: transparent;
    margin: 2rem 0;
    padding: 1rem 0;
    width: 16rem;
    text-align: center;
}

#range {
    display: flex;
    background: #83e1d0;
    height: 50px;
    padding: 0;
    margin: 0 0 4rem 0;
    
}

#rangeOutput {
    font-size: 1.6rem;
}

.stats {
    text-align: left;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1rem;
}

.info span {
    font-size: 1.6rem;
}

#newGameButton {
    border-radius: 5px;
    font-family: inherit;
    margin: 0 auto;
    height: 90px;
    color: white;
    font-size: 4rem;
    font-weight: 500;
    padding: 1rem 1rem;
    outline: none;
    border: none;
    cursor: pointer;
    background: tomato;
}

@media (min-width: 600px) {
    body {
        width: 60vw;
    }
}

.flash {
    animation: flash 1.5s infinite;
}

@keyframes flash {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}